
/* element selector */
div{
/* background-color: yellow;
color: red; */
}
/* id selector */
#about{
/* background-color: yellow;
color: red; */
}
/* class selector */
.one{
/* background-color: yellow;
color: red;  */
}
/* child selector */
div> p {
/* background-color: yellow;
color: red;  */
}
/* descent selector */
/* div p{
background-color: yellow;
color: red; 
} */
/* universal selector */

*{
/* margin: 0;
padding: 0; */
}
/* pseudo selectors */
a:visited{
background-color: green;
}
a:active{
background-color: red;
}
/* a:link{
background-color: rgb(144, 226, 43);
} */
a:hover{
background-color: aqua;
}

div{
color: rgb(255, 0, 0);
background-color: blue;
box-sizing: border-box;
height: 50px;
padding: 10px;
margin: 10px;
border: 5px solid red;
}
p{
    margin-top: 25px;
    
    padding:10px;
    background-color: rgb(16, 222, 64);
}
.child{
    margin-bottom: 50px;
    margin-top: 10px;
}
.a{
    background-color: whitesmoke;
    border: 1px  solid greenyellow;
    margin: 20px;
    text-align: center;
}
.navbar{
    display: ;
    background-color: ;
}